@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: center;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    width: 320px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

header {
    display: flex;
    justify-content: center;
    background-color: #323232;
    opacity: 0.7;
}

.navLinks a {
    font-size: 18px;
    text-decoration: none;
    color: #DEDEDE;
}

.logo p {
    font-size: 20px;
    color: #DEDEDE
}

body {
    margin: 0;
    background-color: #202020;
}